@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --codeBackground: 220, 13%, 18%;
    --codeForeground: 210 40% 98%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components{

  /* RTEdior styles */
 

  .RichEditor-default , .data > p{
    @apply  text-base leading-relaxed my-2;
}

  .RichEditor-blockquote, .data blockquote{
    @apply text-gray-600/80 dark:text-gray-400/80 bg-gray-400/20 dark:bg-gray-400/10 font-serif italic border-l-[3px] border-gray-400/80 px-1 py-3 pl-2 my-3;
  }
  .RichEditor-codeblock ,.data pre{
    @apply p-2 text-sm overflow-x-auto font-mono;
  }
  /* data uses syntax highlight no need for some of editor */
  .RichEditor-codeblock{
    @apply text-popover/80 font-mono bg-popover-foreground/90 ;
  }
  /* render only dark mode code */
  .data pre{
    @apply bg-codeBackground text-codeForeground;
  }

  
  .RichEditor-codeblock div{
    @apply whitespace-nowrap;
  }
  /* codeblocks rounded corners */

 

  /* first in each sequence */
  .RichEditor-codeblock:has( + .RichEditor-codeblock) , *:not(.RichEditor-codeblock) > .RichEditor-codeblock:first-of-type, *:not(.RichEditor-codeblock) + .RichEditor-codeblock
  ,.data pre:has(+ pre), .data pre:first-of-type
  {
    @apply rounded-t-md;
  }
  /* last of each sequence */
  .RichEditor-codeblock:not(:has(+ .RichEditor-codeblock))
  , .data pre:not(:has(+ pre))
  {
    @apply rounded-b-md shadow-md shadow-black/50;
  }
  /* disable rounded in between  */
  .RichEditor-codeblock + .RichEditor-codeblock:has(+ .RichEditor-codeblock)
  , .data pre + pre:has(+ pre)
  {
    @apply rounded-none;
  }

  .data p{
    @apply min-h-[1.625rem];
  }

  .RichEditor-h1 , .data h1{
    @apply text-4xl font-bold my-2;
  }
  .RichEditor-h2 , .data h2{
    @apply text-3xl font-bold my-2;
  }
  .RichEditor-h3 , .data h3{
    @apply text-2xl font-bold my-2;
    
  }
  .RichEditor-h4 , .data h4{
    @apply text-xl font-bold my-2;
    
  } 
  .RichEditor-h5 , .data h5{
    @apply text-lg font-bold my-2;
  }
  .RichEditor-h6 , .data h6{
    @apply text-base font-bold my-2; 
  }

  .RichEditor-link{
    @apply underline
  }

  .data ol{
    @apply list-inside list-decimal;
  }
  /* markers opacity dim */
  .data ol li::marker, .data ul li::marker, .RichEditor-default::marker{
    @apply text-foreground/60;
  }

  /* for spacing */
  .data ol li::before{
    content: counter(li);
    height: 100%;
    width: 1rem;
    opacity: 0;
  }
  .data ol li, .data ul li{
    @apply pt-1;
  }

  .data ol  ol{
    @apply ml-7;
  }
  /* LISTS STYLES */
  .data ul > ul{
    list-style-type:circle;
    list-style-position: inside;
    margin-left: 1.75rem;
  }
  .data ul > ul > ul{
    list-style-type: square;
  }
  .data ol > ol{
    list-style-type:lower-alpha;
  }
  .data ol > ol > ol{
    list-style-type:lower-roman;
  }

  .data ul{
    @apply list-inside list-disc
  }
  .data a , .a_link{
    @apply underline  text-violet-500 cursor-pointer;
  }
  .data *:not(pre){ /* pre should be without space for background consistancy */
    @apply my-2;
  }
  .RTEImageContainer{
    @apply my-3;
  }
  .maxHeightSize{
    @apply max-h-[500px]
  }
  /* data image pos fix */
  .data img{
    @apply mx-auto;
  }
  /*  custom codeblock scroll bar styles */
  .RichEditor-codeblock::-webkit-scrollbar-thumb, .data pre::-webkit-scrollbar-thumb {
      @apply bg-violet-400/75 max-h-2  rounded-md hover:bg-violet-400;
    }
  .RichEditor-codeblock::-webkit-scrollbar, .data pre::-webkit-scrollbar {
    @apply w-4 max-h-2;
  }
.RichEditor-codeblock::-webkit-scrollbar-track, .data pre::-webkit-scrollbar-track {
  @apply bg-background/20 rounded-md
}
.RichEditor-default{
  @apply select-text;
}
.data code, .CODE{
  @apply bg-foreground/10 text-popover-foreground px-2 rounded-md opacity-70;
}

  


}
.DraftEditor-root *, #RTEditor, #RTEditor * {
  -webkit-user-select: text !important;
  user-select: text !important;

}

